*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;


}

body{
    background-color: black;
    color: white;
}

main{
    overflow: hidden;
}

h1{
    font-size: 2.5rem;
    cursor: pointer;
}

li{
    list-style: none;
    cursor: pointer;
}

i{
    cursor: pointer;

}

a{
    text-decoration: none;
    color: white;
}

.container{
    max-width: 41rem;
    margin: 0 auto;
    width: 100%;
}

    // HEADER //

header{

    // TOP HEADER //

    .top-header{

        .icon{
            display: flex;
            align-items: center;
            justify-content:space-between;
            padding: 1.5rem 1rem 1rem;
            border-bottom: .1rem solid rgb(80, 80, 80);
        }
    }

    .nav-header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-list{
            display: flex;

            li{
                padding: 1rem;
                margin: 1rem 1rem 1rem 0;
                width: 6.7rem;
                background-color: rgb(80, 80, 80);
                text-align: center;
                border-radius: 5rem;
            }
        }

        .search-area{
            input{
                width: 5.9rem;
                border-radius: 5rem;
                height: 2rem;
                background: transparent;
                border:none;
                color: white;
                padding: .3rem;
            }

            button{
                border-radius: 50%;
                height: 2rem;
                width: 2rem;
                border:none;
                background-color: rgb(80, 80, 80);
                color: white;
            }
        }
    }
}

main{
    padding: .3rem;


    .main-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: .1rem solid rgba(255, 255, 255, 0.2);

        span{
            display: flex;
            align-items: center;
            
            i{
                font-size: 1.6rem;
                padding: 1rem;
            }

            h3{
                font-size: 1.5rem;

                small{
                    font-size: .7rem;
                    margin-left: 2rem;
                }
            }

        }
    }

    .main-body{
        margin-top: 1rem;
    }

    .main-img{

        margin-top: 1rem;

        img{
            margin-top: 1rem;
            max-width: 41rem;
            height: 100%;
        }

    }

    .main-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1rem 0;

        i{
            font-size: 1.4rem;
            margin-top: 1rem;
        }

    }
}